@model GetMePro.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group" )>
        @Html.LabelFor(m => m.Area, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Area, new[] {
                new SelectListItem() { Text = @"ЖК Молодёжный"},
                new SelectListItem() { Text = @"Центральный район (ЦМР)"},
                new SelectListItem() { Text = @"Фестивальный район (ФМР)"},
                new SelectListItem() { Text = @"Комсомольский район (КМР)"},
                new SelectListItem() { Text = @"Пашковский район (ПМР)",},
                new SelectListItem() { Text = @"Юбилейный район (ЮМР)"},
                new SelectListItem() { Text = @"Лента (РИП)"},
                new SelectListItem() { Text = @"Черемушки (ЧМР)"},
                new SelectListItem() { Text = @"Гидростроителей (ГМР)"},
                new SelectListItem() { Text = @"Краевой клинической больницы (ККБ)"},
                new SelectListItem() { Text = @"Завода измерительных приборов (ЗИП)"},
                new SelectListItem() { Text = @"Им. Маршала Жукова (ЭНКА)"},
                new SelectListItem() { Text = @"Поселок Южный"},
                new SelectListItem() { Text = @"Поселок Северный",},
                new SelectListItem() { Text = @"ПГТ Витаминкомбинат"},
                new SelectListItem() { Text = @"СВХ Прогресс"}
            }, "Выберите вариант", new { @class = "form-control", style = "width:500px" })
        </div>
    </div>

    <div class="form-group" )>
        @Html.LabelFor(m => m.CategoryServises, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.CategoryServises, new[] {
                new SelectListItem() { Text = @"Ремонт и строительство"},
                new SelectListItem() { Text = @"Услуги красоты"},
                new SelectListItem() { Text = @"Автомобильные услуги"},
                new SelectListItem() { Text = @"Прочие услуги"}
            }, "Выберите вариант", new { @class = "form-control", style = "width:500px" })
        </div>
    </div>

    <div class="form-group" )>
        @Html.LabelFor(m => m.CategoryWork, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.CategoryWork, new[] {
                new SelectListItem() { Text = @"Газопроводные работы"},
                new SelectListItem() { Text = @"Кафельные работы"},
                new SelectListItem() { Text = @"Ремонтные работы"},
                new SelectListItem() { Text = @"Сантехнические работы"}
            }, "Выберите вариант", new { @class = "form-control", style = "width:500px" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Регистрация" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
